#h2{
    font-size: 4em;
        font-family: fantasy;
        color: royalblue;
        
           
}



body{
  background-color: black;  
    
    
   
}

#q{
    color: white;
    font-size: 2em;
}


#p2{
    color: white;
      font-size: 2em;
}

#p3{
    
    
    color: white;
    font-size: 2em;
        
 
}


#qp{
   text-align: center;
   color: royalblue;
   font-size: 3em
       
    
}
    
