#p {
   color: royalblue;
   font-size: 4em;
   
   
    
    
    
}


#body{
    
   background-color: black
}


#mk{
    color: white;
    font-size: 2em;
        
}

#mon{
    color: white;
    font-size: 2em;
        
}

#qq{
    color:white;
       font-size: 2em;
}
